<!-- Modal -->
<div class="modal fade" id="add-direction" tabindex="-1"
  aria-labelledby="add-direction-Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="add-direction-Label">Добавить направление</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form id="create_directions" class="needs-validation was-validated" >
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="direction" class="form-label">Направление</label>
                <input type="text" class="form-control" name="direction"
                  required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="create_direction()">Создать</button>
        </div>
      </form>
    </div>
  </div>
</div>


    <div class="card">
      <div class="card-body">
        <table id="direction_table" class="table table-striped"
          style="width:100%">
          <thead>
            <tr>
              <th>Направление</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th>Направление</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>



<script>
  $(document).ready(function () {
  });

  $('#pills-direction-tab').on('shown.bs.tab', function (e) {
    if (direction_table) {
      direction_table.destroy();
    }
    upload_direction();
  });
    

    $('#direction_table tbody').on( 'click', 'tr', function () {
      var id = $(this).attr('id');
      $.ajax({
        url: `/catalogs/direction/${id}`,
        type: 'GET',
        success: function(al) {
          $("#chapter").val('direction');
          $("#changeable_id").val(id);
          $("#change-Label").text('Изменить направление');
          $("#change_modal_body").append(
            `<div class="row">`+
            `<div class="col-12">`+
              `<div class="mb-3">`+
                `<label for="direction" class="form-label">Фамилия Имя Отчество</label>`+
                `<input type="text" class="form-control" name="direction" value="${al.direction}"`+
                  `required>`+
              `</div>`+
            `</div>`+
          `</div>`
            );
        
            changeModal.show();
        }
      })

    });


function create_direction() {
  let data_arr = $('#create_directions').serializeArray();
      var returnArray = {};
      for (var i = 0; i < data_arr.length; i++){
          returnArray[data_arr[i]['name']] = data_arr[i]['value'];
      }

      $.ajax({
        url: `catalogs/create_directions`,
        type: 'POST',
        data: returnArray,
        success: function(result) {
          if(result){
            $('#create_directions').trigger("reset");
            $('#add-direction').modal('toggle');
            direction_table.destroy();
            upload_direction();
          }
        }
      })
}




function upload_direction() {
  $.ajax({
        url: `/catalogs/directions`,
        type: 'GET',
        success: function(al) {

            direction_table = $('#direction_table').DataTable({
            language: {"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"},
            data:al,
            dom: 'Bfrtp',
            //order: [[1, "desc"]], //desc
            rowId: '_id',
            displayLength: 10,
            buttons: {
                  buttons: [{
                      text: 'Создать',
                      attr: {
                        'class': 'btn btn-primary',
                        'data-bs-toggle': 'modal',
                        'data-bs-target': '#add-direction'
                      },
                      action: function(e, dt, node, config) {
                      }
                  }]
              },
            columns: [
              {"data": "direction"},
              ]
          });
        }
      })
}
</script>
