
    <ul class="nav justify-content-center nav-pills mb-3" id="pills-tab"
      role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-airline-tab"
          data-bs-toggle="pill" data-bs-target="#pills-airline" type="button"
          role="tab" aria-controls="pills-airline" aria-selected="true">Авиакомпании</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-kass-tab" data-bs-toggle="pill"
          data-bs-target="#pills-kass" type="button" role="tab"
          aria-controls="pills-kass" aria-selected="false">Кассы</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-cashiers-tab" data-bs-toggle="pill"
          data-bs-target="#pills-cashiers" type="button" role="tab"
          aria-controls="pills-cashiers" aria-selected="false">Кассиры</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-clients-tab" data-bs-toggle="pill"
          data-bs-target="#pills-clients" type="button" role="tab"
          aria-controls="pills-clients" aria-selected="false">Клиенты</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-directions-tab" data-bs-toggle="pill"
          data-bs-target="#pills-directions" type="button" role="tab"
          aria-controls="pills-directions" aria-selected="false">Направления</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-type-tickets-tab"
          data-bs-toggle="pill" data-bs-target="#pills-type-tickets"
          type="button" role="tab" aria-controls="pills-type-tickets"
          aria-selected="false">Типы билетов</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
<!--       <div class="tab-pane fade" id="pills-kass" role="tabpanel"
        aria-labelledby="pills-kass-tab">...</div>
      <div class="tab-pane fade" id="pills-cashiers" role="tabpanel"
        aria-labelledby="pills-cashiers-tab">...</div>
      <div class="tab-pane fade" id="pills-clients" role="tabpanel"
        aria-labelledby="pills-clients-tab">...</div>
      <div class="tab-pane fade" id="pills-directions" role="tabpanel"
        aria-labelledby="pills-directions-tab">...</div>
      <div class="tab-pane fade" id="pills-type-tickets" role="tabpanel"
        aria-labelledby="pills-type-tickets-tab">...</div> -->
    </div>

