<!-- Modal -->
<div class="modal fade" id="add-type_ticket" tabindex="-1"
  aria-labelledby="add-type_ticket-Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="add-type_ticket-Label">Добавить тип билета</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form id="create_type_tickets" class="needs-validation was-validated" >
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="type_ticket" class="form-label">Тип билета</label>
                <input type="text" class="form-control" name="type_ticket"
                  required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="create_type_ticket()">Создать</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-type_ticket" role="tabpanel"
    aria-labelledby="pills-type_ticket-tab">
    <div class="card">
      <div class="card-body">
        <table id="type_ticket_table" class="table table-striped"
          style="width:100%">
          <thead>
            <tr>
              <th>Тип билета</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th>Тип билета</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {

    upload_type_ticket();

    $('#type_ticket_table tbody').on( 'click', 'tr', function () {
      var id = $(this).attr('id');
      $.ajax({
        url: `/catalogs/type_ticket/${id}`,
        type: 'GET',
        success: function(al) {
          $("#chapter").val('type_ticket');
          $("#changeable_id").val(id);
          $("#change-Label").text('Изменить тип билета');
          $("#change_modal_body").append(
                  '<div class="row">'+
              '<div class="col-12">'+
                '<div class="mb-3">'+
                  '<label for="type_ticket" class="form-label">Тип билета</label>'+
                  `<input type="text" class="form-control" id="change_code" name="type_ticket" value="${al.type_ticket}" required>`+
                '</div>'+
              '</div>'+
            '</div>');
        
            changeModal.show();
        }
      })

    });
});

function create_type_ticket() {
  let data_arr = $('#create_type_tickets').serializeArray();
      var returnArray = {};
      for (var i = 0; i < data_arr.length; i++){
          returnArray[data_arr[i]['name']] = data_arr[i]['value'];
      }

      $.ajax({
        url: `catalogs/create_type_tickets`,
        type: 'POST',
        data: returnArray,
        success: function(result) {
          if(result){
            $('#create_type_tickets').trigger("reset");
            $('#add-type_ticket').modal('toggle');
            type_ticket_table.destroy();
            upload_type_ticket();
          }
        }
      })
}




function upload_type_ticket() {
  $.ajax({
        url: `/catalogs/type_tickets`,
        type: 'GET',
        success: function(al) {

            type_ticket_table = $('#type_ticket_table').DataTable({
            language: {"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"},
            data:al,
            dom: 'Bfrtp',
            //order: [[1, "desc"]], //desc
            rowId: '_id',
            displayLength: 10,
            buttons: {
                  buttons: [{
                      text: 'Создать',
                      attr: {
                        'class': 'btn btn-primary',
                        'data-bs-toggle': 'modal',
                        'data-bs-target': '#add-type_ticket'
                      },
                      action: function(e, dt, node, config) {
                      }
                  }]
              },
            columns: [
              {"data": "type_ticket"},
              ]
          });
        }
      })
}
</script>
