<!-- Modal -->
<div class="modal fade" id="add-cashier" tabindex="-1"
  aria-labelledby="add-cashier-Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="add-cashier-Label">Добавить кассира</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form id="create_cashiers" class="needs-validation was-validated" >
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="number" class="form-label">Номер по табелю</label>
                <input type="text" class="form-control" name="number"
                  required>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label for="name" class="form-label">Фамилия Имя Отчество</label>
                <input type="text" class="form-control" name="name"
                  required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="create_cashier()">Создать</button>
        </div>
      </form>
    </div>
  </div>
</div>


    <div class="card">
      <div class="card-body">
        <table id="cashier_table" class="table table-striped"
          style="width:100%">
          <thead>
            <tr>
              <th>Номер по табелю</th>
              <th>Фамилия Имя Отчество</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th>Номер по табелю</th>
              <th>Фамилия Имя Отчество</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>



<script>
  $(document).ready(function () {

    upload_cashier();

    $('#cashier_table tbody').on( 'click', 'tr', function () {
      var id = $(this).attr('id');
      $.ajax({
        url: `/catalogs/cashier/${id}`,
        type: 'GET',
        success: function(al) {
          $("#chapter").val('cashier');
          $("#changeable_id").val(id);
          $("#change-Label").text('Изменить кассира');
          $("#change_modal_body").append(
            '<div class="row">'+
            '<div class="col-12">'+
              '<div class="mb-3">'+
                '<label for="number" class="form-label">Номер по табелю</label>'+
                `<input type="text" class="form-control" name="number" value="${al.number}"`+
                  'required>'+
              '</div>'+
            '</div>'+
            '<div class="col-12">'+
              '<div class="mb-3">'+
                '<label for="name" class="form-label">Фамилия Имя Отчество</label>'+
                `<input type="text" class="form-control" name="name" value="${al.name}"`+
                  'required>'+
              '</div>'+
            '</div>'+
          '</div>'
            );
        
            changeModal.show();
        }
      })

    });
});

function create_cashier() {
  let data_arr = $('#create_cashiers').serializeArray();
      var returnArray = {};
      for (var i = 0; i < data_arr.length; i++){
          returnArray[data_arr[i]['name']] = data_arr[i]['value'];
      }

      $.ajax({
        url: `catalogs/create_cashiers`,
        type: 'POST',
        data: returnArray,
        success: function(result) {
          if(result){
            $('#create_cashiers').trigger("reset");
            $('#add-cashier').modal('toggle');
            cashier_table.destroy();
            upload_cashier();
          }
        }
      })
}




function upload_cashier() {
  $.ajax({
        url: `/catalogs/cashiers`,
        type: 'GET',
        success: function(al) {

          cashier_table = $('#cashier_table').DataTable({
            language: {"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"},
            data:al,
            dom: 'Bfrtp',
            order: [[1, "desc"]], //desc
            rowId: '_id',
            displayLength: 10,
            buttons: {
                  buttons: [{
                      text: 'Создать',
                      attr: {
                        'class': 'btn btn-primary',
                        'data-bs-toggle': 'modal',
                        'data-bs-target': '#add-cashier'
                      },
                      action: function(e, dt, node, config) {
                      }
                  }]
              },
            columns: [
              {"data": "number"},
              {"data": "name"},
              ]
          });
        }
      })
}
</script>
