<!-- Modal -->
<div class="modal fade" id="add-client" tabindex="-1"
  aria-labelledby="add-client-Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="add-client-Label">Добавить клиента</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form id="create_clients" class="needs-validation was-validated" >
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="name" class="form-label">Фамилия Имя Отчество</label>
                <input type="text" class="form-control" name="name"
                  required>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label for="type" class="form-label">Серия паспорта</label>
                <input type="text" class="form-control" name="type" required>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label for="number" class="form-label">Номер паспорта</label>
                <input type="text" class="form-control" name="number"
                  required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="create_client()">Создать</button>
        </div>
      </form>
    </div>
  </div>
</div>


    <div class="card">
      <div class="card-body">
        <table id="client_table" class="table table-striped"
          style="width:100%">
          <thead>
            <tr>
              <th>Фамилия Имя Отчество</th>
              <th>Серия паспорта</th>
              <th>Номер паспорта</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th>Фамилия Имя Отчество</th>
              <th>Серия паспорта</th>
              <th>Номер паспорта</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>



<script>
  $(document).ready(function () {

    upload_client();

    $('#client_table tbody').on( 'click', 'tr', function () {
      var id = $(this).attr('id');
      $.ajax({
        url: `/catalogs/client/${id}`,
        type: 'GET',
        success: function(al) {
          $("#chapter").val('client');
          $("#changeable_id").val(id);
          $("#change-Label").text('Изменить клиента');
          $("#change_modal_body").append(
            `<div class="row">`+
            `<div class="col-12">`+
              `<div class="mb-3">`+
                `<label for="name" class="form-label">Фамилия Имя Отчество</label>`+
                `<input type="text" class="form-control" name="name" value="${al.name}"`+
                  `required>`+
              `</div>`+
            `</div>`+
            `<div class="col-12">`+
              `<div class="mb-3">`+
                `<label for="type" class="form-label">Серия паспорта</label>`+
                `<input type="text" class="form-control" name="type" value="${al.type}" required>`+
              `</div>`+
            `</div>`+
            `<div class="col-12">`+
              `<div class="mb-3">`+
                `<label for="number" class="form-label">Номер паспорта</label>`+
                `<input type="text" class="form-control" name="number" value="${al.number}"`+
                  `required>`+
              `</div>`+
            `</div>`+
          `</div>`
            );
        
            changeModal.show();
        }
      })

    });
});

function create_client() {
  let data_arr = $('#create_clients').serializeArray();
      var returnArray = {};
      for (var i = 0; i < data_arr.length; i++){
          returnArray[data_arr[i]['name']] = data_arr[i]['value'];
      }

      $.ajax({
        url: `catalogs/create_clients`,
        type: 'POST',
        data: returnArray,
        success: function(result) {
          if(result){
            $('#create_clients').trigger("reset");
            $('#add-client').modal('toggle');
            client_table.destroy();
            upload_client();
          }
        }
      })
}




function upload_client() {
  $.ajax({
        url: `/catalogs/clients`,
        type: 'GET',
        success: function(al) {

            client_table = $('#client_table').DataTable({
            language: {"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"},
            data:al,
            dom: 'Bfrtp',
            order: [[1, "desc"]], //desc
            rowId: '_id',
            displayLength: 10,
            buttons: {
                  buttons: [{
                      text: 'Создать',
                      attr: {
                        'class': 'btn btn-primary',
                        'data-bs-toggle': 'modal',
                        'data-bs-target': '#add-client'
                      },
                      action: function(e, dt, node, config) {
                      }
                  }]
              },
            columns: [
              {"data": "name"},
              {"data": "type"},
              {"data": "number"},
              ]
          });
        }
      })
}
</script>
