<!-- Modal -->
<div class="modal fade" id="changeTicket" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить билет</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form id="change_ticket_form" class="needs-validation was-validated">
        <div class="modal-body">
          <div class="row">
            <div class="col-3">
              <div class="mb-3">
                <label for="number" class="form-label">Номер билета</label>
                <input type="text" class="form-control" name="number" required>
              </div>
              <div class="mb-3">
                <label for="type_ticket" class="form-label">Тип билета</label>
                <select class="form-select" id="type_ticket" name="type_ticket"
                  required>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="mb-3">
                <label for="data_sale" class="form-label">Дата продажи</label>
                <input type="date" class="form-control" id="data_sale"
                  name="data_sale">
              </div>
              <div class="mb-3">
                <label for="kass" class="form-label">Касса</label>
                <select class="form-select" id="kass" name="kass" required>
                </select>
              </div>
              <div class="mb-3">
                <label for="cashier" class="form-label">Кассир</label>
                <select class="form-select" id="cashier" name="cashier"
                  required>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="mb-3">
                <label for="airline" class="form-label">Авиокомпания</label>
                <select class="form-select" id="airline" name="airline"
                  required>
                </select>
              </div>
              <div class="mb-3">
                <label for="direction" class="form-label">Направление</label>
                <select class="form-select" id="direction" name="direction"
                  required>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="mb-3">
                <label for="rate" class="form-label">Тариф</label>
                <input type="number" step="0.01" class="form-control" id="rate"
                  name="rate" required>
              </div>
              <div class="mb-3">
                <label for="client" class="form-label">Клиент</label>
                <select class="form-select" id="client" name="client" required>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"
          onclick="delete_ticket()">Удалить</button>
        <button type="button" class="btn btn-primary"
          onclick="change_ticket()">Изменить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const changeTicketModal = document.getElementById('changeTicket');
  changeTicketModal.addEventListener('show.bs.modal', event => {
    $.ajax({
        url: `/tickets/data_form`,
        type: 'GET',
        success: function(rs) {
          rs[0].forEach(element => {
            $('#airline').append(`<option value="${element._id}">${element.name}</option>`);
          });
          rs[1].forEach(element => {
            $('#kass').append(`<option value="${element._id}">${element.number}</option>`);
          });
          rs[2].forEach(element => {
            $('#cashier').append(`<option value="${element._id}">${element.name}</option>`);
          });
          rs[3].forEach(element => {
            $('#client').append(`<option value="${element._id}">${element.name}</option>`);
          });
          rs[4].forEach(element => {
            $('#direction').append(`<option value="${element._id}">${element.direction}</option>`);
          });
          rs[5].forEach(element => {
            $('#type_ticket').append(`<option value="${element._id}">${element.type_ticket}</option>`);
          });
        }
      })
  })

  function createTicket() {
    let data_arr = $('#change_ticket_form').serializeArray();
    var returnArray = {};
    for (var i = 0; i < data_arr.length; i++){
        returnArray[data_arr[i]['name']] = data_arr[i]['value'];
    }

    console.log(returnArray)
    $.ajax({
        url: `/tickets/change_ticket`,
        type: 'POST',
        data: returnArray,
        success: function(result) {
          $('#changeTicket').modal('toggle');
          ticket_table.destroy();
          upload_ticket();
        }
      })
  }


</script>