<div class="card">
    <div class="card-body">
        <label for="airline_client_list" class="form-label">Авиакомпания</label>
        <select class="form-select" name="airline" id="airline_client_list"
            required>
            <option value="0" selected>Выбрать авиакомпанию</option>
        </select>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table id="airline_client_table" class="table table-striped" style="width:100%">
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: `/catalogs/airlines`,
            type: 'GET',
            success: function(al) {
                al.forEach(element => {
                    $('#airline_client_list').append(`<option value="${element._id}">${element.code}/${element.name}</option>`);
                });
            }
        })
    });

    $("#airline_client_list")
    .on("input", function() {
        let id_airline = $('#airline_client_list').val();
        $.ajax({
                url: `/info/airline_client`,
                type: 'POST',
                data: {id_airline},
                success: function(tc) {
                    document.querySelector('#airline_client_table tbody').innerHTML = tc.map((n, index) => `
                  <tr>
                    <td>${n.client.name}</td>
                  </tr>
                `).join('');
                }
            })
        })
</script>