<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Вход</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="user/login" method="POST" id="login">
      <div class="modal-body">
          <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">Мы никогда не передадим вашу электронную почту кому-либо еще.</div>
          </div>
          <div class="mb-3">
            <label for="Password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="signup()">Регистрация</button>
        <button type="submit" class="btn btn-primary">Вход</button>
      </div>
    </form>
    </div>
  </div>
</div>

<script>
  function signup(e){
    let form_data = $("#login").serializeArray();
    //console.log(data);
    let data = {};
    for (let i = 0; i < form_data.length; i++){
      data[form_data[i]['name']] = form_data[i]['value'];
    }

    $.ajax({
    url: '/user/signup',
    type: 'post',
    data: data,
    success: function(result, err) {
      if (result) {
        
      }
    }
  })
  }
</script>
