<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="container">
    <%- include ("../partials/login.ejs") %>
    <%- include ("../partials/nav.ejs") %>


  </div>




</body>
</html>
